@import "tailwindcss";

/* variable css  */

/* ============Couleur du site ========== */
:root{
   /* === PRIMARY (VERT MODERNE) === */
  --color-primary: #0E5E3B;
  --color-primary-dark: #0A472C;
  --color-primary-light: #1F7A52;

  /* === ACCENT (OR ELEGANT) === */
  --color-accent: #D4AF37;
  --color-accent-dark: #B8962E;

  /* === NEUTRES === */
  --color-dark: #1C1C1C;
  --color-gray-dark: #4F4F4F;
  --color-gray: #7A7A7A;
  --color-gray-light: #F4F6F8;
  --color-white: #FFFFFF;

  /* === BACKGROUND === */
  --bg-main: #FFFFFF;
  --bg-section: #F9FAFB;

  /* ==============Police ============ */
 --font-main: 'Inter', sans-serif;

  /* ============transition ======== */
   --transition-fast: 0.2s cubic-bezier(.4,0,.2,1);
  --transition-normal: 0.3s cubic-bezier(.4,0,.2,1);
  --transition-slow: 0.5s cubic-bezier(.4,0,.2,1);
}

body{
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-dark);
    padding-top: 64px;
}


body.menu-open {
  overflow: hidden;
  height: 100vh;
}

.section {
  animation: fadeSlideUp 0.8s ease forwards;
}


/* =============Responsive web design=============== */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

/* Tablet */
@media (max-width: 992px) {
  .section {
    padding: 80px 0;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }

  h1 {
    font-size: 32px;
  }
}
/* ===================================== */

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ============================= */
/* SIDEBAR MOBILE */
/* ============================= */



@media (max-width: 480px) {
  .mobile-sidebar {
    width: 92%;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

@media (max-width: 1024px) {
  .mobile-sidebar {
    width: 85%;
    max-width: 340px;
  }
}

